body {
	background-color: #b3f0ff;
}

#JournalTitle {
	font-family: Tahoma;
	text-align: center;
}

#FirstSessionMockUps {
	font-family: Tahoma;
}

#SketchNo1Header, #SketchNo2Header, #SketchNo3Header {
	font-family: Tahoma;
}

#MockUpsTable1 img, #MockUpsTable2 img, #MockUpsTable3 img {
	width: 150px;
	height: 150px;
}

#MockUpsTable1 td, #MockUpsTable2 td, #MockUpsTable3 td {
	border: 3px solid black;
}

#MockUpsTable1 p, #MockUpsTable2 p, #MockUpsTable3 p {
	font-size: 17px;
	font-family: Tahoma;
}